*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.container{    
    background-image: url(https://img.freepik.com/free-vector/background-gradient-green-tones_23-2148382072.jpg?w=2000);
    margin: 100px auto 0px;
    width: 90%;
    max-width: 470px;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.srch{
    padding: 10%;
    width: 100%;
    align-items: center;
}
#inp{
    outline: 0;
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    background: #ebfffc;
    height: 50px;
    font-size: 18px;

}
/* .btn{
    border-radius: 40%;
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
} */
.weatherIcon{
    width: 60%;
    margin: 0px;
    padding: 10px;
}
.txt{
    font-size: 30px;
}
.txt h1{
    margin: 0px;
    padding: 0px;
}
.txt h2{
    margin: 0px;
    padding: 0px;
}
.details{
    display: flex;
    margin-top: 40px;
    margin-right: 30px;
}
.imgHumidity{
    width: 35%;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}
.imgWind{
    width: 60%;
    border-radius: 50%;
    margin: 10px;
}
.col{
    display: flex;
    flex-direction: row;
}
p{
    margin: 0px;
    padding: 0;
    font-size: 18px;
    font-family: cursive;
    font-style: italic;
    font-weight: bolder;
    color: brown;
}
.col div{
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 30px;
}